<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block title %}
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Главная страница</title>
        {% endif %}
    {% endblock %}
</head>
<body>
    {% block content %}
        <ul class="mainmenu">
            {% for m in menu %}
                <li><a href="{{ m.url }}">{{ m.title }}</a></li>
            {% endfor %}
        </ul>

        <div class="clear"></div>
        <div class="content">
            {% if title %}
                <h1>{{ title }}</h1>
            {% else %}
                <h1>Главная страница</h1>
            {% endif %}

    {% endblock %}
    </div>
</body>
</html>
